.channels-container{
  height: 100%;
  min-width: 250px;
  background-color: #2e3135;
  border-left: 1px solid black;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}


.chatroom-title{
  padding-left: 16px;
  padding-right: 12px;
  min-height: 48px;
  max-height: 48px;
  width: 100%;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  max-width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  div{
    display: flex;
    align-items: center;
  }
}

.edit-channel-button{
  display: none;
}

.channel-list-items{
  color: rgb(150,150,150);
  margin: 10px 10px;
  li{
    padding: 7px;
    margin: 3px;
    padding-left: 5px;
    border-radius: 5px;
    font-size: 14px;
  }
  li:hover{
    background-color: rgba(79, 84, 92, 0.2);
    color: white;
    .edit-channel-button{
      display: block;
      height: 12px;
    }
  }
}

.channel-list-item.active-channel{
  background-color: #43474d;
  color: white;
}

.channel-user-info{
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-top: 2px solid #1e2124;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  button{
    position: relative;
  }
}

.channel-list-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a{
    width: 75%;
    height: 100%;
    display: flex;
  }
}
