.channels-container{
  height: 100%;
  min-width: 250px;
  background-color: #2e3135;
  border-left: 1px solid black;
  color: white;
  display: flex;
  flex-direction: column;
  position: relative;
}


.chatroom-title{
  padding-left: 16px;
  padding-right: 12px;
  min-height: 50px;
  max-height: 50px;
  width: 100%;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  max-width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  div{
    display: flex;
    align-items: center;
  }
}

.edit-channel-button{
  display: none;
}

.channel-list-items{
  color: rgb(150,150,150);
  margin: 10px 10px;
  li{
    padding: 7px;
    margin: 3px;
    padding-left: 5px;
    border-radius: 5px;
    font-size: 14px;
  }
  li:hover{
    background-color: rgba(79, 84, 92, 0.2);
    color: white;
    .edit-channel-button{
      display: block;
      height: 12px;
    }
  }
  li.active-channel{
    background-color: #43474d;
    color: white;
  }
}


.channel-user-info{
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  border-top: 2px solid #1e2124;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  button{
    position: relative;
  }
}

.channel-list-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a{
    width: 75%;
    height: 100%;
    display: flex;
  }
}

.channel-user-info button:hover{
  .logout-info-bubble{
    display: block;
  }
}


/* ------------------------------------------
PURE CSS SPEECH BUBBLES
by Nicolas Gallagher
- http://nicolasgallagher.com/pure-css-speech-bubbles/
http://nicolasgallagher.com
http://twitter.com/necolas
Created: 02 March 2010
Version: 1.2 (03 March 2011)
Dual licensed under MIT and GNU GPLv2 Nicolas Gallagher
------------------------------------------ */


.logout-info-bubble {
  position: absolute;
  display: none;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  color:black;
  background:#fff;
  padding: 10px;
  border-radius:10px;
  top: -43px;
  right: -59px;
  width: 120px;
  z-index: 1;
  -webkit-animation: bubble-fadein .3s;
  animation: bubble-fadein .3s;
}

.logout-info-bubble:before {
  content:"";
  position:absolute;
  top:35px;
  right:60px;
  bottom:auto;
  left:auto;
  border-width: 7px 7px 0px 7px;
  border-style:solid;
  border-color:#fff transparent;
  display:block;
  width:0;
  z-index: 1;
}
