
.chatroom-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  a:hover{
    border-radius: 30%;
    background-color: #2e3195;
  }
}

.chatroom-container{
  display: flex;
  flex-direction: column;
  background-color: #1e2124;
  width:75px;
  height: 100%;
}



.chatroom-list-item{
  color: #c3c4c5;
  background-color: #2e3140;
  border: 1px solid lightgray;
  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: background-color 0.5s ease;
  -webkit-transition: border-radius 0.5s ease;
}



.chatroom-title-label{
  display: none;
  position: absolute;
  left: 70px;
  top: 15px;
  min-width: 50px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  color: white;
  background-color: black;
  border-radius: 4px;
  -webkit-animation: fadeOut 1.0s;
}

.chatroom-list-item-container{
  position: relative;
}

.chatroom-list-item-container:hover{
  .chatroom-title-label{
    display: block;
    -webkit-animation: fadeIn 0.7s;
  }
}

.add-chatroom-button{
  color: gray;
  background-color: #2e3140;
  border: 1px solid gray;
  border-style: dashed;
  width: 60px;
  height: 60px;
  margin: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-chatroom-button:hover{
  color: #c3c4c5;
  border: 1px dashed lightgray;
}


//modal form---------------------
.chatroom-modal-form-container{
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  z-index: 20;
  max-width: 50%;
  min-width: 400px;
  min-height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-animation: fadeIn 1.0s;
}

.chatroom-forms-container{
  display: flex;
  flex-direction: row;
}

.chat-form-errors{
  color: red;
}

.chat-form{
  margin: 10px;
  opacity: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  input{
    margin: 10px;
    border-bottom: 1px solid lightgray;
    padding: 5px;
  }
  input:focus{
    border-bottom: 1px solid black;
  }
  button{
    margin: 10px 0;
    height: 40px;
    width: 100%;
    border-radius: 4px;
    text-align: center;
    background-color: #697ec4;
    opacity: none;
    color: white;
  }
  button:hover{
    background-color: #5674d7;
  }
}

.chat-form h3{
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}


.chat-right-divider{
  border-right: 2px solid lightgray;
  padding-right: 20px;
}
