
.messages-container{
  background-color: #36393e;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.messages-header{
  width: 100%;
  min-height: 48px;
  max-height: 48px;
  background-color: #36393e;
  padding-left: 12px;
  padding-right: 8px;
  box-sizing: border-box;
  border-bottom: lighten(black, 15%) 1px solid;
  display: flex;
  align-items: center;
}

.add-message-image-button{
  color: #36393e;
  background-color: darken(white, 20%);
  border-radius: 50%;
  min-width: 20px;
  max-width: 20px;
  text-align: center;
  margin-right: 20px;
}
.add-message-image-button:hover{
  background-color: white;
  cursor: pointer;
}

.messages-body{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

.default-portrait{
  background-image: image-url('default-avatar.png');
  background-repeat: no-repeat;
  background-size: contain;
}



.messages-channel-container{
  display: flex;
  flex-direction: row;
}

.message-channel-description{
  margin-left: 10px;
  padding-left: 10px;
  border-left: 0.5px solid darken(lightgray, 25%);
  color: darken(lightgray, 25%);
  font-size: 15px;
}

.messages-list-section{
  width: 100%;
}

// messages form

.message-create-form{
  position: absolute;
  background-color: #494c52;
  bottom: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 6px;
  input{
    width: 93%;
    margin-right: 10px;
  }
}



// messages body--------------------------

.messages-list{
  margin-top: 5px;
  margin-left: 25px;
  margin-bottom: -5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  margin-right: 25px;
  height: 100%;
  // overflow-y: scroll;
  padding-bottom: 90px;
  position: relative;
  box-sizing: border-box;

}


.message-item{
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  border-bottom: 1px solid #3f4246;
}

.message-portrait{
  min-width: 45px;
  min-height: 45px;
  max-width: 45px;
  max-height: 45px;
  background-color: lightgray;
  border-radius: 50%;
  margin-right: 15px;
}

.message-content{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message-date{
  font-size: 12px;
  color: hsl(180, 2%, 37%);
  display: inline;
  margin-left: 6px;
}

.message-body{
  padding-top: 6px;
  word-wrap: break-word;
  font-weight: 400;
  font-size: 13px;
  color: #bbbbbd;
}
