
.users-list li{
  margin: 2px;
  padding: 3px;
}

.members-list{
  width: 20%;
  height: 100%;
  padding: 20px;
  background-color: #2e3135;
  box-sizing: border-box;
  padding-bottom: 25px;

}


.members-list-title{
  margin-bottom: 10px;
  font-size: 11px;
  color: lightgray;
}

.userlist-item{
  display: flex;
  flex-direction: row;
}

.members-portrait{
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  background-color: lightgray;
  border-radius: 50%;
  margin-right: 10px;
}

.default-portrait{
  background-image: image-url('default-avatar.png');
  background-repeat: no-repeat;
  background-size: contain;
}
